html {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #27272a;
  color: #e0f2fe;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20vh 20px 20px 20px;
}

.activityHeatmapContainer {
  width: 80%;
  max-width: 1200px;
}

.footer {
  display: flex;
  gap: 16px;
}

.link {
  color: #c7dfea;
  text-decoration: none;
  display: flex;
  gap: 4px;
}

.link:hover {
  color: #e0f2fe;
}
