.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-auto-flow: column;
  gap: 0.125rem;
  box-sizing: border-box;
}

.cell,
.cellInvisible {
  min-width: 0.5rem;
  width: 1rem;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
}

.cellInvisible {
  background-color: transparent;
}

.cell {
  transition: border 0.2s ease;
  cursor: default;
}

.monthName {
  font-family: "Inter", system-ui, sans-serif;
  font-size: 1rem;
  margin-top: 0.25rem;
  white-space: nowrap;
}
