.wrapper {
  display: inline-block;
  position: relative;
}

.tooltip {
  font-family: "Inter", system-ui, sans-serif;
  white-space: nowrap;
  border-radius: 0.375rem;
  color: #e0f2fe;
  background-color: #3f3f46;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 10;
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
}
